{% extends 'salescrud/main.html' %}


{% block content %}

<div class="container">

  {% include 'salescrud/status.html' %}

  <div class="pt-4"></div>

  <h5>Lista De Pedidos:</h5>
  <hr>

  {% include 'salescrud/addbutton.html' %}

  <div class="pt-3"></div>

  {% include 'salescrud/orderslist.html' %}
  
</div>

{% endblock %}