{% extends 'salescrud/main.html' %}

{% load static %}
{% block content %}
<p class="lead">Esta seguro que desea eliminar: "{{item}}"?</p>


<form action="{% url 'delete_order' item.id %}" method="POST">

    {% csrf_token %}
    <a type="button" class="btn btn-outline-danger" href="{% url 'crud' %}">Cancel</a>
    <input type="submit" class="btn btn-outline-info" name="Confirm">
</form>
{%endblock%}


