<hr>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
        <svg class="bi" width="30" height="24"></svg>
      <span class="text-muted">© 2022 David Diaz</span>
    </div>
  </footer>