<!DOCTYPE html>
<html>
  <head>

    <title>Sales_Crud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <style>
    body{
      background-color: #ebeff5
    }
  </style>

  <body>
    {% include 'salescrud/navbar.html' %}
    <div class="pt-5"></div>


    {% block content %}

    {% endblock %}

    {% include 'salescrud/footer.html' %}
  </body>

</html>
