<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style = "font-family:courier,arial,helvética;" href="{% url 'crud' %}">RODELAG SALES-CRUD</a>

      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
      </div>
    </div>
  </nav>