<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Día</th>
        <th scope="col">Estado</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr class="table-light">
      
        <th scope="row">{{order.product}}</th>
        <td>{{order.date_created}}</td>
        <td>{{order.status}}</td>
        <td><a type="button" class="btn btn-outline-info" href="{% url 'update_order' order.id %}">Editar</a></td>
        <td><a type="button" class="btn btn-outline-danger" href="{% url 'delete_order' order.id %}">Remover</a></td>
      
      </tr>
      {% endfor %}
    </tbody>
  </table>


</div>