{% extends 'salescrud/main.html' %}

{% load static %}
{% block content %}
<h3>
  MENÚ
  <small class="text-muted">DE PEDIDOS:</small>
</h3>
<hr>
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Submit">
  </form>

{% endblock %}


