<div class="row">

    <div class="col-lg-3">
    <div class="card text-white  text-center" style="max-width: 20rem;">
        <div class="card-header bg-dark">Total De Pedidos</div>
        <div class="card-body">
        <h4 class="card-title text-dark">{{total_orders}}</h4>
        </div>
    </div>
    </div>

    <div class="col-lg-3">
    <div class="card text-white  text-center" style="max-width: 20rem;">
        <div class="card-header bg-dark">Pedidos Entregados</div>
        <div class="card-body">
        <h4 class="card-title text-dark">{{delivered_order}}</h4>  
        </div>
    </div>
    </div>

    <div class="col-lg-3">
    <div class="card text-white  text-center" style="max-width: 20rem;">
        <div class="card-header bg-dark">Pedidos Pagados</div>
        <div class="card-body">
        <h4 class="card-title text-dark">{{paid_order}}</h4>
        </div>
    </div>
    </div>

    <div class="col-lg-3">
    <div class="card text-white text-center" style="max-width: 20rem;">
        <div class="card-header bg-dark">Pedidos Pendientes</div>
        <div class="card-body">
        <h4 class="card-title text-dark">{{pending_order}}</h4>        
        </div>
    </div>
    </div>

</div>
